* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

header {
    display: flex;
    padding: 25px;
    align-items: center;
    border-bottom: 6px solid;
    border-image: linear-gradient(to right, #FF0000, #990000) 1;
    background-color: black;
}

.nomeLoja {
    display: flex;
    justify-content: center;
    align-items:end;
}

.jw {
    font-size: 30px;
    color: white;
    font-weight: bolder;
}

.sports {
    color: #FF0000;
    font-size: 24px;
    font-weight: bolder;
}

.navegacao {
    display: flex;
    justify-content: center;
    width: 82%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 15px;
    width: 40%;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    transition: ease 0.3s;
}

a:hover {
    color: #ff8888; 
}

.contatoLink {
    color: #FF0000;
}

main{
    display: flex;
    height: 855px;
    background: linear-gradient(to right, black, red);
}
.geral{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
form{
    display: flex;
    padding: 1%;
    width: 50%;
    height: 70%;
}
.Formulario{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    padding: 3%;
    gap: 30px;
    background-color: #D9D9D9;
    border-radius: 10px 0px 0px 10px;
}
input{
    border-radius: 10px;
    padding: 1%;
    height: 10%;
    background-color: #C9C9C9;
    border: #C9C9C9;
}
textarea{
    padding: 1%;
    border-radius: 10px;
    background-color: #C9C9C9;
    border: #C9C9C9;
}
button{
    box-shadow: 3px 5px 10px 0px #2D2D2D;
    background-color: #D52E2E;
    padding: 1%;
    width: 30%;
    height: 10%;
    border-radius: 10px;
    border: #D52E2E;
    cursor: pointer;
    transition: ease 0.3s;
    color: white;
}


button:hover{
    scale: 1.03;
}
.lateralFormulario{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 60%;
    gap: 20px;
    background-color: #2D2D2D;
    padding: 3%;
    border-radius: 0px 10px 10px 0px;
}
.numero{
    display: flex;
    color: white;
    gap: 5px;
}
.email{
    display: flex;
    gap: 5px;
}
.IconeEmail{
    height: 20px;
}
.linkEmail{
    color: white;
}
.telefone{
    height: 20px;
}
.informacaoLateral{
    color: white;
    font-size: 20px;
}
.entreEmContato{
    color: white;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.divContato{
    width: 50%;
}